.imgg
{
 width: 100%;
    height: 100%;
}
/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(209, 238, 249);
    color: rgb(28, 5, 5);
    font-size: 29px;
    padding: 32px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .container .btn:hover {
    background-color: black;
  }