<<<<<<< Updated upstream
nav {
  padding-top: 30px;
  height: 180px;
  line-height: 180px;;
  text-align: center;
  background-color: whitesmoke;
}
.card {
  background: white;
  box-sizing: border-box;
  width: auto;
  height: auto;
}
=======
body{
    background: #777;
    
    margin: 0;
   
    
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    
  }
  .card {
    background: white;
    border-radius: 1rem;
  }
>>>>>>> Stashed changes
