.nav {
  padding-top: 50px;
  height: 180px;
  line-height: 180px;;
  text-align: center;
  
  font-size: 140px;

 
}
.container{
  width: 100%;
}


.card {
  background: white;
  box-sizing: border-box;
  width: auto;
  height: auto;
}

    
    .navbar {
      width: 100%;
      background-color: rgb(190, 216, 231);
      overflow: auto;
      position: fixed;
    }
    